body {
  margin: 0;
  padding: 0;
  /* font: ; */
  background-color: #11001c;
}
/* CADASTRO1D */
/* header */
.container {
  width:80%;
  margin: auto;
  display: flex;
}
.header {
width: 100%;
height: 100px;
border-bottom: 3px solid #F22116;
align-items: center;
display: flex;
justify-content: center;
}
.titulo_pag_cadastro{
/* width:fit-content; */
color:#F22116;
font-weight: 300px;
}
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
color:#F22116;
width: 100%;
height: 80px;
}
.navbar a {
  text-decoration: none;
  color: #F22116;
}
.navbar u {
  display: flex;
  flex-direction: left;
  justify-content: center;
}
.href {
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
/* fim da header  */

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0;
  height: 600px;
background-image: url("../assets/imgs/fundo.canva.png");
background-size: cover;
}
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}
.container_banner {
  /* height: 400px; */
  font-size: 15px;
  justify-content: center;
  margin:auto;
  display:flex;
}
.card_cadastro {
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
color:#ffffff;
height: 400px;
width: 300px;
border-radius: 3px;
margin-top: 20px;
}
.titulo-card-cadastro {
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
.campo {
  margin-top: 20px;
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}

.cadastro_conteudo input{
height: 30px;
width: 250px ;
border-radius: 3px;
border-color: #fff;
padding: 0 15px; 
}

.cadastro_conteudo span {
font-size: 25px;
}
.select-style {
  display: flex;
  justify-items: center;
  border: 2px solid #000000;
  height: 30px;
  width: 282px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa ;
}
.select-style select {
  align-self: center;
  text-align: center;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.select-style select:focus {
  outline: none;
}
.cadastro_conteudo button {
margin-top: 5px;
height:30px;
border-radius: 3px;
border-color: #fff;
background-color:#11001c;
color: #fff;
}

.btn {
  display: flex;
  height: 80px;
  align-items: center;
  border-color: #11001c;
  border-radius: 10px;
    font-family: 'Anybody',cursive;
    font-size: 20px;
    font-weight: 500px;
}
.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
/* FIM CADASTRO */


