body {
    background-color: #F4EDE9;
}
.header_friendship {
    width: 100%;
    height: 100px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #F4EDE9;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 3px solid #F4EDE9;
    border-radius: 8px;
}
.container_friendship {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .img_narry{
        margin-top: 20px;   
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        height: 400px;
    }

    .imgs_narry{
        display: flex;
        justify-content: flex-end;
        height: 400px;
        width: 500px;
        order: 2;
    }
    
    #narry1 {
        position: absolute;
        display: flex;
        z-index: 19;
    }
    #narry2 {
        position: absolute;
        display: flex;
        z-index: 39;
    }
    #narry3 {
    position: absolute;
    display: flex;
    z-index: 29;
}
#narry4 {
    position: absolute;
    z-index: 9;
} 
 .texto_narry {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Anybody',cursive;
font-size: 20px;
font-weight: 500px;
order: 1;
    } 

.img_lilo{
display: flex;
flex-direction: row;
margin-left: 20px;
margin-top: 20px;
}

.imgs_lilo{
display: flex;
height: 400px;
width: 400px;
}
    
#lilo1 {
position: absolute;
display: flex;
z-index: 29;
    }
#lilo2 {
position: absolute;
display: flex;
z-index: 9;
}
#lilo3 {
position: absolute;
display: flex;
z-index: 39;
}
#lilo4 {
position: absolute;
z-index: 19;
} 
.texto_lilo {
margin-top: 20px;
margin-right: 50px;
font-family: 'Anybody',cursive;
font-size: 20px;
font-weight: 500px;
    } 
    .img_zouis{
        margin-top: 20px;   
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        height: 400px;
    }

    .imgs_zouis{
        display: flex;
        justify-content: flex-end;
        height: 400px;
        width: 500px;
        order: 2;
    }
    
    #zouis1 {
        position: absolute;
        display: flex;
        z-index: 19;
    } 
#zouis4 {
    position: absolute;
    z-index: 9;
} 
 .texto_zouis {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Anybody',cursive;
font-size: 20px;
font-weight: 500px;
order: 1;
    } 

    .img_zarry{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        }
        
        .imgs_zarry{
        display: flex;
        height: 400px;
        width: 400px;
        }
            
        #zarry1 {
        position: absolute;
        display: flex;
        z-index: 29;
            }
        #zarry2 {
        position: absolute;
        display: flex;
        z-index: 9;
        }
        #zarry3 {
        position: absolute;
        display: flex;
        z-index: 39;
        }
        .texto_zarry {
        margin-top: 20px;
        margin-right: 50px;
        font-family: 'Anybody',cursive;
        font-size: 20px;
        font-weight: 500px;
            } 
            .img_niam{
                margin-top: 20px;   
                margin-right: 20px;
                display: flex;
                justify-content: flex-end;
                height: 400px;
            }
        
            .imgs_niam{
                display: flex;
                justify-content: flex-end;
                height: 400px;
                width: 500px;
                order: 2;
            }
            
            #niam1 {
                position: absolute;
                display: flex;
                z-index: 39;
            } 
        #niam2 {
            position: absolute;
            z-index: 19;
        } 
        #niam3 {
            position: absolute;
            display: flex;
            z-index: 29;
        } 
    #niam4 {
        position: absolute;
        z-index: 9;
    } 
         .texto_niam {
            margin-top: 20px;
            margin-left: 50px;
            font-family: 'Anybody',cursive;
        font-size: 20px;
        font-weight: 500px;
        order: 1;
            }            

.checkbox-texto {
    font-family: 'Anybody',cursive;
    font-size: 20px;
    font-weight: 500px;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Anybody',cursive;
    font-size: 20px;
    font-weight: 500px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: red;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }    
  
  .card_albuns {
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.card_albuns2 {
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 20px;
    justify-content:center;
}
.uan {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.tmh {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.mm{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.four {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.mita {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}