body {
    background-color: #11001c;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track { 
    background-color: #11001c;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 3px solid #11001c;
    border-radius: 8px;
}
/* header */
.container_home {
    width:100%;
    display: flex;
    justify-content: space-between;
}

  .invisivel{
      background-color: transparent ;
      width:350px;
  }
  .header_home {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  .titulo_pag_home {
      /* display: flex; */
        align-self: flex-end;
  }
  .audio {
      /* border-top: 20px; */
    align-self: center;
  }

  /* fim da header  */

.banner_home {
    height: 900px;
    background-image:url("../assets/imgs/fundo_home.jpg");
    background-size: 100%;
}

.container_banner_home{
    font-size: 15px;
    justify-content: center;
    margin:auto;
    display:flex;
}
.footer_fake{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.href_home a{
    color: #fff;
}
.href_home {
    justify-content:center;
    padding: 20px 10px 200px 10px;
    /* align-self: center; */
    align-items: center;
}
.tudo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-simulador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}
.card-simulador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 500px;
  background-color: #f22116be;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}
.titulo-card-simulador {
  margin-top: 45px;
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
.sel-albuns {
  height:30px;
  width:250px;
  border-radius: 3px;
  border-color: #fff;
  padding: 0 15px;

}
.pergunta {
  display: flex;
  justify-content: center;
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
#pergunta-alinhamento {
  display: flex;
  justify-content: center;
}
#in_ouviu {
  height: 30px;
width: 250px ;
border-radius: 3px;
border-color: #fff;
padding: 0 15px; 
}
.btn-simulador {
  width:120px;
  height:50px;
  border-radius: 3px;
  border-color: #fff;
  background-color:#11001c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
#div_frase {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anybody',cursive;
  font-size: 20px;
  font-weight: 500px;
}
